# backend
.git
makefile
pancorpus/train/*
plag_train.db
src/__pycache__/
data/pkl/*
data/skip-thoughts/*

# webapp
webapp/node_modules
webapp/.pnp
webapp/.pnp.js
webapp/coverage
webapp/.next/
webapp/out/
webapp/build
webapp/.DS_Store
webapp/*.pem
webapp/npm-debug.log*
webapp/yarn-debug.log*
webapp/yarn-error.log*
webapp/.pnpm-debug.log*
webapp/.env*.local
webapp/.vercel
webapp/*.tsbuildinfo
webapp/.next

webapp/database.db
