:root {
  --primary: rgb(0, 0, 0);
  --secondary: rgb(255, 255, 255);
  --disabled: rgb(130, 130, 130);
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.primary-button {
  background-color: var(--primary);
  border-color: var(--primary);
  border-style: solid;
  color: var(--secondary);
  font-weight: bold;
  padding: 0.5rem;
}

.secondary-button {
  background-color: var(--secondary);
  border-color: var(--primary);
  border-style: solid;
  color: var(--primary);
  font-weight: bold;
  padding: 0.5rem;
}

.disabled-button {
  background-color: var(--disabled);
  border-color: var(--disabled);
  border-style: solid;
  color: var(--primary);
  font-weight: bold;
  padding: 0.5rem;
}

.text-bold {
  font-weight: bold;
}
